@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,400;0,500;0,700;1,200&display=swap');

* {
    margin : 0;
    padding: 0;
    background-color : #131324;
}   

body, button, input, textarea{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
}

body{
    max-height: 100vh;
    max-width: 100vw;
}

.page_title{
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

h1{
    color: white;
    font-weight: bold;
}

.code_wraper{
    height: 100vh;
    width: 100vw;

    display: flex;
    flex-direction: column;
    margin-top: 7rem;
}

.code_wraper > .code{
    display: flex;
    justify-content: space-around;
}

.code_box > .code_list > li{
  list-style: none;
  white-space: pre;
  color : white;
}

.code_wraper > .code > .code_problem{
  width: 35%;
}

.code_wraper > .code > .code_problem > h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.code_wraper > .code > .code_solution{
    display: flex;
    flex-direction: column;
    width: 35%;
}

.code_wraper > .code > .code_solution > form{
    display: flex;
    flex-direction: column;
}

.code_solution > .code_solution_form > #code_solution_area{
  color: white;
  font-size: 16px;
}

.code_solution > .code_solution_form > button{
    background-color : #997af0;
    color : white;
    padding : 1rem 2rem;
    border : none;
    border-radius : 0.4rem;
    font-size : 1rem;
    font-weight : bold;
    cursor : pointer;
    text-transform : uppercase;
    transition : 0.5s ease-in-out;  
    margin-top: 2rem;
}

.code_solution > .code_solution_form > button:hover{
    background-color : #4e0eff;
}

.code_solution > h1{
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.code_wraper > .back_link {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition : 0.5s ease-in-out;  
}

.code_wraper > .back_link > a{
    color : #997af0;
    text-decoration : none;
    font-size: 1.5rem;
    font-weight : bold;
}
.code_wraper > .back_link > a:hover{
    color : #4e0eff;
}






/* height : 100vh;
  width : 100vw;
  display : flex;
  flex-direction : column;
  justify-content : center;
  gap : 1rem;
  align-items : center;
  background-color : #131324;
  .brand{
    display : flex;
    align-items : center;
    gap : 1rem;
    justify-content : center;
    img{
      height : 5rem;
    }
    h1{
      color : white;
      text-transform : uppercase;
    }

  }
  form{
    display : flex;
    flex-direction : column;
    align-items : center;
    gap : 2rem;
    background-color : #00000076;
    border-radius : 2rem;
    padding : 3rem 5rem;
    input{
      background-color : transparent;
      padding : 1rem;
      border : 0.1rem solid #4e0eff;
      border-radius : 0.4rem;
      color : white;
      width : 100%;
      font-size : 1rem; 
      &:focus{
        border : 0.1rem solid #997af0;
        outline : none;
      }
    }
    button{
      background-color : #997af0;
      color : white;
      padding : 1rem 2rem;
      border : none;
      border-radius : 0.4rem;
      font-size : 1rem;
      font-weight : bold;
      cursor : pointer;
      text-transform : uppercase;
      transition : 0.5s ease-in-out;
      &:hover{
        background-color : #4e0eff;
      }
    }
    span{
      color : white;
      text-transform : uppercase;
      a{
        color : #4e0eff;
        text-decoration : none;
        font-weight : bold;
      }
    }
  } */